.col-md-auto, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    text-align: right; 
    display: flex;
    flex-direction: column;
    align-items: end;
    overflow-x: auto;
}
.col-md-12 {
    text-align: left; 
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}
table {
    align-self: start;
}
.pagination {
    align-self: center;
}
.accordion{
    width: 100%;
    overflow-x: auto;
}
.errorlist {
    color: red;
}
.form-error {
    color:red; 
    font-size:125%;
    list-style-type: "! ";
}
.form-custom-error {
    /* color:orange;  */
    font-size:125%;
    list-style-type: "? ";
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.tile {
    /* flex: 1 0 300px; */
    /* background-color: #fff; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.tile:hover {
    transform: scale(1.05);
}
.tile-link {
    /* flex: 1 0 45%; */
    text-decoration: none;
    color: inherit;
    display: block;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-body {
    white-space: pre-line;
}
