{% extends "Prism/layout.html" %}

{% block title %}
Pri2m : {{ projectnumber }} Project Docs
{% endblock %}

{% block content %}
{% if doctype %}
<h2><a href='/project/{{ projectnumber }}'>{{ projectnumber }}</a> - {{ doctype }}</h2>
{% else %}
<h2><a href='/project/{{ projectnumber }}'>{{ projectnumber }}</a> - Project Documentation</h2>
{% endif %}

{% if custom_errors %}
<ul>
    {% for error in custom_errors %}
        <li class="form-custom-error">{{error}}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <form action="" method = "POST">
                {% csrf_token %}
                <div class="input-group">
                    <fieldset>
                        {{ project_docs_form.documenttype.as_field_group }}
                        <!--{{ project_docs_form.versionnumber.as_field_group }}-->
                        {{ project_docs_form.submitted.as_field_group }}
                        {{ project_docs_form.accepted.as_field_group }}
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Document Type</th>
        <th scope="col">Version</th>
        <th scope="col">Submitted</th>
        <th scope="col">Accepted</th>
        <th scope="col">Accept/Withdraw</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for doc in project_docs %}
            <tr>
                <td>{{ doc.documenttype__documentdescription }}</td>
                <td>{{ doc.versionnumber }}</td>
                <td>{{ doc.submitted | date:"Y-m-d" }}</td>
                <td>{{ doc.accepted | date:"Y-m-d" }}</td>
                {% if doc.accepted %}
                    <td><a type="button" class="btn btn-outline-secondary" href="{% url 'projectdocs_action' projectnumber doctypeurl 'withdraw' doc.pdid%}">Withdraw</td>
                {% else %}
                    <td><a type="button" class="btn btn-outline-secondary" href="{% url 'projectdocs_action' projectnumber doctypeurl 'accept' doc.pdid%}">Accept</td>
                {% endif %}
                <td>
                    <button type="button" 
                        class="btn btn-outline-danger btn-sm" 
                        data-bs-toggle="modal" 
                        data-bs-target="#confirmModal" 
                        data-bs-url="{% url 'projectdocs_action' projectnumber doctypeurl 'remove' doc.pdid%}"
                        data-bs-title="Remove Document from Project?"
                        data-bs-body="Are you sure you wish to remove this Document from this Project?">
                    x
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}