{% extends "Prism/layout.html" %}

{% block title %}
Pri2m : {{ grant.kristalref|default_if_none:"Grant" }}
{% endblock %}

{% block content %}

<h1>Grant - {{ grant.kristalref }} - {{ grant.kristalname }}</h1>

{% if custom_errors %}
<ul>
    {% for error in custom_errors %}
        <li class="form-custom-error">{{error}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if grant_form.non_field_errors %}
<ul>
    {% for error in grant_form.non_field_errors %}
        <li class="form-error">{{error}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if grant_project_form.non_field_errors %}
<ul>
    {% for error in grant_project_form.non_field_errors %}
        <li class="form-error">{{error}}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="" method = "POST">
                {% csrf_token %}
                <p><input class="btn btn-primary" type="submit" value="Submit"></p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <legend>Grant Details</legend>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-auto">
                                            <fieldset>
                                                <p>{{ grant_form.kristalref.as_field_group }}</p>
                                                <p>{{ grant_form.kristalname.as_field_group }}</p>
                                                <p>{{ grant_form.grantstageid_id.as_field_group }}</p>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-auto">
                                            <fieldset>
                                                <p>{{ grant_form.pi.as_field_group }}</p>
                                                <p>{{ grant_form.faculty_id.as_field_group }}</p>
                                                <p>{{ grant_form.location_id.as_field_group }}</p>
                                            </fieldset>
                                            <fieldset>
                                                {{ grant_form.kristalid }}
                                                {{ grant_form.validfrom }}
                                                {{ grant_form.validto }}
                                                {{ grant_form.createdby }}
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="margin-top: 3%;">
        <div class="col-md-6">
            <legend>Grant Projects</legend>
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset>
                    <div class="input-group">
                        {{ grant_project_form.kristalnumber.as_hidden }}
                        {{ grant_project_form.projectnumber }}
                        <input class="btn btn-primary" type="submit" value="Add project">
                    </div>
                </fieldset>
            </form>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Project Number</th>
                        <th scope="col">Project Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in grant_project %}
                        <tr>
                            <td><a href='/project/{{ item.projectnumber }}'>{{ item.projectnumber }}</td>
                            <td>{{ item.projectname }}</td>
                            <td>
                                <button type="button" 
                                    class="btn btn-outline-danger btn-sm" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#confirmModal" 
                                    data-bs-url="{% url 'projectkristal_remove' item.projectkristalid %}"
                                    data-bs-title="Remove Project from Grant?"
                                    data-bs-body="Are you sure you wish to remove this Project from this Kristal Reference?">
                                x
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <div class="container-fluid">
                {% if notes_filter %}
                    <legend>Notes containing "{{ notes_filter }}" (<a href='/grant/{{ grant.kristalnumber }}'>clear</a>)</legend>
                {% else %}
                    <legend>Notes</legend> 
                {% endif %}

                <div class="row">
                    <div class="col-md-8">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <fieldset>
                                <div class="input-group">
                                    {{ new_note.kristalnote }}
                                    <input class="btn btn-primary" type="submit" value="Add note">
                                </div>
                            </fieldset>
                            <fieldset>
                                {{ new_note.knid }}
                                {{ new_note.kristalnumber }}
                                {{ new_note.created }}
                                {{ new_note.createdby }}
                            </fieldset>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <form action="" method="get">
                            <div class="input-group">
                                <input name="search_notes" type="text" class="form-control" placeholder="Search...">
                                <button class="btn btn-primary" type="submit" id="button-search">Search</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">Note</th>
                                <th style="white-space: nowrap;" scope="col">Created</th>
                                <th style="white-space: nowrap;" scope="col">Created By</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for note in notes.object_list %}
                                    <tr>
                                        <td>{{ note.kristalnote }}</td>
                                        <td style="white-space: nowrap;">{{ note.created | date:"Y-m-d" }}</td>
                                        <td style="white-space: nowrap;">{{ note.createdby }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="pagination">
                            <ul class="pagination pagination-sm">
                            {% if notes.has_previous %}
                                <li class="page-item">
                                    {% if notes_filter %}
                                        <a class="page-link" href="?search_notes={{ notes_filter }}&page={{ notes.previous_page_number }}">&laquo;</a>
                                    {% else %}
                                        <a class="page-link" href="?page={{ notes.previous_page_number }}">&laquo;</a>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">&laquo;</a>
                                </li>
                            {% endif %}

                            {% for num in notes.paginator.page_range %}
                                {% if notes.number == num %}
                                    <li class="page-item active">
                                        {% if notes_filter %}
                                            <a class="page-link" href="?search_notes={{ notes_filter }}&page={{ num }}">{{ num }}</a>
                                        {% else %}
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        {% if notes_filter %}
                                            <a class="page-link" href="?search_notes={{ notes_filter }}&page={{ num }}">{{ num }}</a>
                                        {% else %}
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if notes.has_next %}
                                <li class="page-item">
                                    {% if notes_filter %}
                                        <a class="page-link" href="?search_notes={{ notes_filter }}&page={{ notes.next_page_number }}">&raquo;</a>
                                    {% else %}
                                        <a class="page-link" href="?page={{ notes.next_page_number }}">&raquo;</a>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">&raquo;</a>
                                </li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

