{% extends "Prism/layout.html" %}

{% block title %}
Pri2m: All Grants
{% endblock %}

{% block content %}

<h1>Grants</h1>
{% if searchterms|length %}
<h3>({{ searchterms }})</h3>
{% endif %}
<h4>Displaying: {{ grants|length }}</h4>

{% if request.path == "/grants_no_routing" %}
<form action="/grants_no_routing" method="get">
{% else %}
<form action="/grants" method="get">
{% endif %}
    <div class="input-group">
        <input name="q" type="text" class="form-control" placeholder="Search...">
        <button class="btn btn-primary" type="submit" id="button-search">Search</button>
    </div>
    <p></p>
    <div class="accordion" id="accordionAdvancedSearch">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingAdvancedSearch">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdvancedSearch" aria-expanded="false" aria-controls="collapseAdvancedSearch">
                    Advanced Search
                </button>
            </h2>
            <div id="collapseAdvancedSearch" class="accordion-collapse collapse" aria-labelledby="headingAdvancedSearch" data-bs-parent="#accordionAdvancedSearch">
                <div class="accordion-body" style="text-align: right;">
                    {{ portfolio_plus_search_form.as_p }}
                    {{ grant_form.as_p }}
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Kristal Ref</th>
            <th scope="col">Long Title</th>
            <th scope="col">Grant Status</th>
            <th scope="col">Phase Type</th>
            <th scope="col">Phase Status</th>
            <th scope="col">Location</th>
            <th scope="col">Faculty</th>
            <th scope="col">LASER</th>
            <th scope="col">DSDP</th>
            <th scope="col">RIDM</th>
            <th scope="col">Community</th>
        </tr>
    </thead>
    <tbody>
        {% for grant in grants %}
            <tr>
                <td><a href='grant/{{ grant.kristalnumber }}'>{{ grant.kristalref|default_if_none:"" }}</a></td>
                <td>{{ grant.longtitle|default_if_none:grant.kristalname }}</td>
                <td>{{ grant.grantstatus|default_if_none:"" }}</td>
                <td>{{ grant.phasetype|default_if_none:"" }}</td>
                <td>{{ grant.phasestatus|default_if_none:"" }}</td>
                <td>{{ grant.location|default_if_none:"" }}</td>
                <td>{{ grant.faculty|default_if_none:"" }}</td>
                <td>{{ grant.laser|default_if_none:"" }}</td>
                <td>{{ grant.dsdp|default_if_none:"" }}</td>
                <td>{{ grant.ridm|default_if_none:"" }}</td>
                <td>{{ grant.community|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}