{% extends "Prism/layout.html" %}

{% block title %}
Pri2m : Update Prism Grants
{% endblock %}

{% block content %}

<h1>Update Prism Grants</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>Select & Upload File</h4> 
    <input type="file" required name="files"> 
    <button type="submit">Submit</button> 
</form>

{% if updated %}
    <div>
        <h2>Updated Data</h2>
        {{ updated | safe }} 
    </div>
{% endif %}

{% if inserted %}
    <div>
        <h2>Inserted Data</h2>
        {{ inserted | safe }} 
    </div>
{% endif %}

{% endblock %}