{% extends "Prism/layout.html" %}

{% block title %}
Pri2m : {{ grant.kristalref|default_if_none:"Grant" }}
{% endblock %}

{% block content %}

<h1>Grant - New</h1>

{% if custom_errors %}
<ul>
    {% for error in custom_errors %}
        <li class="form-custom-error">{{error}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if kristal_form.non_field_errors %}
<ul>
    {% for error in kristal_form.non_field_errors %}
        <li class="form-error">{{error}}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="" method = "POST">
                {% csrf_token %}
                <p><input class="btn btn-primary" type="submit" value="Submit"></p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-auto">
                        <legend>Grant Details</legend>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-auto">
                                        <fieldset>
                                            <p>{{ kristal_form.kristalref.as_field_group }}</p>
                                            <p>{{ kristal_form.kristalname.as_field_group }}</p>
                                            <p>{{ kristal_form.grantstageid_id.as_field_group }}</p>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-auto">
                                        <fieldset>
                                            <p>{{ kristal_form.pi.as_field_group }}</p>
                                            <p>{{ kristal_form.faculty_id.as_field_group }}</p>
                                            <p>{{ kristal_form.location_id.as_field_group }}</p>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="container-fluid">
                                <div class="row">
                                    <legend>Routing</legend>
                                    <fieldset>
                                        <p>{{ kristal_form.laser.as_field_group }}</p>
                                        <p>{{ kristal_form.dsdp.as_field_group }}</p>
                                        <p>{{ kristal_form.ridm.as_field_group }}</p>
                                        <p>{{ kristal_form.community.as_field_group }}</p>
                                    </fieldset>
                                    <fieldset>
                                        {{ kristal_form.kristalid }}
                                        {{ kristal_form.validfrom }}
                                        {{ kristal_form.validto }}
                                        {{ kristal_form.createdby }}
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

