{% extends "Prism/layout.html" %}
{% load static %}

{% block title %}
Pri2m: Welcome!
{% endblock %}

{% block content %}

<header>
    <h1 style="text-align:center">Welcome to Pri2m!</h1>
</header>

<section class="tiles-container">
    <a href='projects' class="tile-link" style="flex: 1 0 45%;">
        <div class="tile">
            <h2>Projects</h2>
            <p>
                View and search through all projects
            </p>
        </div>
    </a>
    <a href='users' class="tile-link" style="flex: 1 0 45%">
        <div class="tile">
            <h2>Users</h2>
            <p>
                View and search through all users
            </p>
        </div>
    </a>

    <a href='dsas' class="tile-link" style="flex: 1 0 30%;">
        <div class="tile">
            <h2>DSAs</h2>
            <p>
                View and search through all Data Sharing Agreements
            </p>
        </div>
    </a>

    <a href='transfercreate/new' class="tile-link" style="flex: 1 0 30%;">
        <div class="tile">
            <h2>File Transfers</h2>
            <p>
                Log a new Transfer Request
            </p>
        </div>
    </a>

    <a href='grants' class="tile-link" style="flex: 1 0 30%;">
        <div class="tile">
            <h2>RIDM</h2>
            <p>
                View and search through all Grants
            </p>
        </div>
    </a>
</section>

{% endblock %}

{% block footer %}
<img class="center-img" src="{% static 'Prism/Prism.png' %}" alt="Prism icon" width="15%" height="15%" style="margin-top: 100px;">
<p style="text-align:center"><br>Slow is Smooth and Smooth is Fast</p>
<p style="text-align:center"><a href="/admin/">admin</a></p>
{% endblock %}