<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel ="icon" href="{% static 'Prism/prism.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'Prism/style.css' %}"/>   
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand">Pri2m</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPRI2M" aria-controls="navbarPRI2M" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarPRI2M">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Project</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/projects">All Projects</a></li>
                <li><a class="dropdown-item" href="/projectcreate">New Project</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">User</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/users">All Users</a></li>
                <li><a class="dropdown-item" href="/usercreate">New User</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">DSA</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/dsas">All DSAs</a></li>
                <li><a class="dropdown-item" href="/dsacreate">New DSA</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Transfers</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/transfers">All Transfers</a></li>
                <li><a class="dropdown-item" href="/transfercreate/new">New Transfer</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Grant</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/grants">All Grants</a></li>
                <li><a class="dropdown-item" href="/grantcreate">New Grant</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div style="text-align: right;">
          {% if request.user.is_authenticated %}
            <form method="post" action="{% url 'django_entra_auth:logout' %}">
              {% csrf_token %}
              <button class="btn btn-secondary" type="submit">Logout</button>
              <br>Logged in as: {{ request.user.username }}</br>
            </form>
          {% else %}
            <form method="post" action="{% url 'django_entra_auth:login' %}">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              <button class="btn btn-secondary" type="submit">Login</button>
              <br>Not signed in</br>
            </form>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}

    <!-- Generic confirmation modal -->
    <div class="modal fade" id="confirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Confirm to proceed.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a type="button" id="confirmButton" class="btn btn-primary">Confirm</a>
          </div>
        </div>
      </div>
    </div>

    <script>
      // When confirmation modal loads, this script assigns specifics from the trigger button to the generic confirmation modal
      // https://getbootstrap.com/docs/5.0/components/modal/#varying-modal-content
      var confirmModal = document.getElementById('confirmModal')
      confirmModal.addEventListener('show.bs.modal', function (event) {
          // Button that triggered the modal
          var button = event.relatedTarget
          // Extract info from data-bs-* attributes
          var url = button.getAttribute('data-bs-url')
          var title = button.getAttribute('data-bs-title')
          var body = button.getAttribute('data-bs-body')
          // Update the modal's content.
          var confirmButton = document.getElementById('confirmButton')
          var modalTitle = confirmModal.querySelector('.modal-title')
          var modalBody = confirmModal.querySelector('.modal-body')
          confirmButton.href = url
          modalTitle.textContent = title
          modalBody.textContent = body
      })
    </script>

  </div>
</body>

<footer>
    <div class="container-fluid">
      {% block footer %}
      {% endblock %}
    </div>
</footer>

</html>
